.box {
	float:left;
	margin-left:25%;
	margin-top:15%;
	width:700px;
	height:500px;
	background-color:lightgrey;

	.clockBox {

		padding-top:30%;
		
		.clock {
			font-size: 200%;
			text-align: center;
			vertical-align: center;
		}
	}
}