.box {
	float:left;
	margin-left:25%;
	margin-top:15%;
	width:700px;
	height:500px;
	background-color:lightgrey;

	.clockBox {
		font-size:400%;

		padding-top:30%;
		padding-left:40%;
		
			.clockSec {
				float:left;
			}
			.clockHour {
				float:left;
			}
			.clockMin {
				float:left;
			}
			.firstColon {
				float:left;
			}
			.secondColon {
				float:left;
			}
	}
}