.box {
	
	
	background-color:lightblue;
	
	width:700px;
	height:500px;

	margin:25%;
	

	.clockBox {

		padding-left:225px;
		padding-top:125px;

		display:inline-block;

		font-size:400%;
		
		

		
			.clockSec {
				float:left;
			}
			.clockSecTens {
				float:left;
			}
			.clockHour {
				float:left;
			}
			.clockHourTens {
				float:left;
			}
			.clockMin {
				float:left;
			}
			.clockMinTens {
				float:left;
			}
			.firstColon {
				float:left;
			}
			.secondColon {
				float:left;
			}
	}
}